@model RedeSocial.Domain.Account.Account

@{
    ViewData["Title"] = "Perfil";
}

    <div class="container center">
        <h1 class=""><b>Seu perfil</b></h1>      
    </div>

<div>   
    <dl class="row">       
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DtBirthday)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DtBirthday)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
    </dl>
</div>
<div>   
    <a class="nav-link" asp-action="Index" asp-controller="Home">Voltar para a página inicial</a>
</div>
